Core/configs/EdlProviderConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EdlProvider">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Service">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Port" type="xs:unsignedShort" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Plugins">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AutoReload" type="xs:boolean" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
