Soap/Wsdl/EDLProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://temp/edlprovider" elementFormDefault="qualified" xmlns:bms="http://base.fims.tv" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edlns="http://temp/edlprovider">
    <xs:import namespace="http://base.fims.tv" schemaLocation="baseMediaService-V1_0_7.xsd"/>

    <xs:complexType name="ArrayOfstring">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfClips">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="clip" type="edlns:ClipType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClipType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="markIn" type="bms:TimeType"/>
            <xs:element minOccurs="1" maxOccurs="1" name="markOut" type="bms:TimeType"/>
            <xs:element minOccurs="1" maxOccurs="1" name="clipInfo" type="bms:BMObjectType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Map">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="edlns:MapItemType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="item">
            <xs:selector xpath="item"/>
            <xs:field xpath="key"/>
        </xs:unique>
    </xs:element>
    <xs:complexType name="MapItemType">
        <xs:sequence>
            <xs:element name="edlType" type="xs:string"/>
            <xs:element name="edlExtension" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- **************************** Messages and faults **************************** -->    
    <xs:complexType name="EdlCreateRequestBaseType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Represents the request to create a EDL for the specified type.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="edlType" minOccurs="1" maxOccurs="1" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation source="urn:x-fims:description">The EDL type to generate, the types available can be obtained using getInstalledEdls.</xs:documentation>
                    <xs:documentation source="urn:x-fims:normativeRequirement"/>
                    <xs:documentation source="urn:x-fims:serviceDescription"/>
                    <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                    <xs:documentation source="urn:x-fims:inclusionInRequest">Mandatory</xs:documentation>
                    <xs:documentation source="urn:x-fims:inclusionInResponse">Not applicable</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clips" minOccurs="0" type="edlns:ArrayOfClips" nillable="true">
                <xs:annotation>
                    <xs:documentation source="urn:x-fims:description">List of clips to include in the created EDL.</xs:documentation>
                    <xs:documentation source="urn:x-fims:normativeRequirement"/>
                    <xs:documentation source="urn:x-fims:serviceDescription"/>
                    <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                    <xs:documentation source="urn:x-fims:inclusionInRequest">Mandatory</xs:documentation>
                    <xs:documentation source="urn:x-fims:inclusionInResponse">Not applicable</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edlSequenceName" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="urn:x-fims:description">The EDL sequence name. This might mean something different in different EDL's.</xs:documentation>
                    <xs:documentation source="urn:x-fims:normativeRequirement"/>
                    <xs:documentation source="urn:x-fims:serviceDescription"/>
                    <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                    <xs:documentation source="urn:x-fims:inclusionInRequest">Mandatory</xs:documentation>
                    <xs:documentation source="urn:x-fims:inclusionInResponse">Not applicable</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EdlCreateRequestType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Represents the request to create a EDL for the specified type and frame rate.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="edlns:EdlCreateRequestBaseType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="edlFramesPerSecond" type="bms:RationalType" nillable="false">
                        <xs:annotation>
                            <xs:documentation source="urn:x-fims:description">The EDL frames per second.</xs:documentation>
                            <xs:documentation source="urn:x-fims:normativeRequirement"/>
                            <xs:documentation source="urn:x-fims:serviceDescription"/>
                            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                            <xs:documentation source="urn:x-fims:inclusionInRequest">Mandatory</xs:documentation>
                            <xs:documentation source="urn:x-fims:inclusionInResponse">Not applicable</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EdlCreateRequestDoubleType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Represents the request to create a EDL for the specified type and frame rate.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="edlns:EdlCreateRequestBaseType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="edlFramesPerSecond" type="xs:double" nillable="false">
                        <xs:annotation>
                            <xs:documentation source="urn:x-fims:description">The EDL frames per second.</xs:documentation>
                            <xs:documentation source="urn:x-fims:normativeRequirement"/>
                            <xs:documentation source="urn:x-fims:serviceDescription"/>
                            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                            <xs:documentation source="urn:x-fims:inclusionInRequest">Mandatory</xs:documentation>
                            <xs:documentation source="urn:x-fims:inclusionInResponse">Not applicable</xs:documentation>
                        </xs:annotation>
                    </xs:element>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EdlCreateResponseType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Represents the response when an EDL is created.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:sequence>
            <xs:sequence>
                <xs:element minOccurs="0" name="getEdlResult" nillable="true" type="xs:base64Binary">
                    <xs:annotation>
                        <xs:documentation source="urn:x-fims:description">The EDL data contents.</xs:documentation>
                        <xs:documentation source="urn:x-fims:normativeRequirement"/>
                        <xs:documentation source="urn:x-fims:serviceDescription"/>
                        <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                        <xs:documentation source="urn:x-fims:inclusionInRequest">Not applicable</xs:documentation>
                        <xs:documentation source="urn:x-fims:inclusionInResponse">Mandatory</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstalledEdlsResponseType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Represents the response when checking which EDL types are available in the service.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:sequence>
            <xs:sequence>
                <xs:element ref="edlns:Map">
                    <xs:annotation>
                        <xs:documentation source="urn:x-fims:description">
                            A key/pair value of EDL types together with their recommended file extension.
                            The extensions can be different than the recommended, but some programs will not be able to import the files.
                        </xs:documentation>
                        <xs:documentation source="urn:x-fims:normativeRequirement"/>
                        <xs:documentation source="urn:x-fims:serviceDescription"/>
                        <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                        <xs:documentation source="urn:x-fims:inclusionInRequest">Not applicable</xs:documentation>
                        <xs:documentation source="urn:x-fims:inclusionInResponse">Mandatory</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EdlProviderFaultType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Fault information for the EDL provider service.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement">
                If an exception is generated when the an EDL request message is submitted to the service,
                it shall respond with a message based on the EdlProviderFaultType.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bms:FaultType">
                <xs:sequence>
                    <xs:element name="extendedCode" type="edlns:EdlProviderErrorCodeType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="urn:x-fims:description">
                                EDL provider service-specific error codes as detailed in EdlProviderErrorCodeType.
                            </xs:documentation>
                            <xs:documentation source="urn:x-fims:normativeRequirement">
                                This element shall be set if the service needs to provide service-specific error codes which
                                are not specified in the fault 'code' element. In this
                                case, the code element shall be set to 'EXT_S00_0000' and
                                the extendedCode shall be set to one of the codes described in
                                EdlProviderErrorCodeType. If the 'code'; element is set
                                to any other value than 'EXT_S00_0000'; then this element
                                shall not be set.
                            </xs:documentation>
                            <xs:documentation source="urn:x-fims:serviceDescription"/>
                            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
                            <xs:documentation source="urn:x-fims:inclusionInRequest">Not applicable</xs:documentation>
                            <xs:documentation source="urn:x-fims:inclusionInResponse">Optional</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- **************************** FIMS-defined enumerations **************************** -->
    <xs:simpleType name="EdlProviderErrorCodeType">
        <xs:annotation>
            <xs:documentation source="urn:x-fims:description">
                Specific error codes for the EDL provider service, possible errors:
                - INF_S00_xxxx: Infrastructure errors (system, storage, network, memory, processor)
                - DAT_S00_xxxx: Data errors (validation, missing,  duplication)
                - SVC_S00_xxxx: Operation errors (existence, support, lock, connection, failure)
                - SEC_S00_xxxx: Security errors (authentication, authorization)
                - EXT_S00_xxxx: Extended code.
            </xs:documentation>
            <xs:documentation source="urn:x-fims:normativeRequirement"/>
            <xs:documentation source="urn:x-fims:serviceDescription"/>
            <xs:documentation source="urn:x-fims:contentOfServiceDescription"/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXT_S00_0001">
                <xs:annotation>
                    <xs:documentation source="urn:x-fims:description">EDL type not found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
